.weather {
    margin: 0 auto;
    position: relative;
    &__header {
      h1 {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        padding: 20px 0px;
        transition: all 0.8s ease 0s;
      }
      &.center {
        h1 {
          opacity: 1;
          visibility: visible;
          display: block;
          text-transform: uppercase;
          font-weight: 400;
          color: rgb(255, 255, 255);
          height: auto;
          position: relative;
          font-size: 30px;
          text-align: center;
          font-size: 60px;
          margin-top: 33vh;
          padding: 20px 0px;
          transition: all 0.8s ease 0s;
          @media screen and (max-width: 768px) {
            font-size: 2rem;
            margin-top: 35vh;
          }
        }
      }
    }
    &__noResult{
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
            margin-top: 2rem;
        }
        i{
            margin-right: 24px;
            font-size: 3rem;
        }
    }
  }