body{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin: 20px;
  &:before{
    background-image: url(./bgc.jpg);
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: -1;
  }
}